@font-face {
  font-family: "Richardson";
  src: url("./Assets/Fonts/Richardson.otf");
}

@font-face {
  font-family: "Champagne";
  src: url("./Assets/Fonts/Champagne.ttf");
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #0c2b3b;
}

.todo {
  &__form {
    display: flex;
    justify-content: center;
    width: 496px;
    margin-bottom: 10px;

    &-input {
      height: 40px;
      width: 60%;
      background-color: transparent;
      border: 1px solid whitesmoke;
      padding: 7px;
      color: whitesmoke;
      border-radius: 5px 0 0 5px;

      &::placeholder {
        color: grey;
      }
    }

    &-button {
      cursor: pointer;
      width: 127px;
      border: 1px solid whitesmoke;
      border-radius: 0px 5px 5px 0;
      transition: all 0.4s ease-in;
      font-size: 0.9em;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  &__mainTitle {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100px;
    font-size: 4em;
    font-family: "Richardson";
    color: whitesmoke;
  }

  &__formCustom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.task {
  &__text {
    cursor: pointer;
    font-family: "Champagne";
    font-size: 1.2em;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 408px;
    margin-top: 30px;
    margin: 30px auto;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

    &.complete {
      text-decoration: line-through;
    }
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 43px;
  cursor: pointer;

  &-delete {
    transition: all 0.4s ease-in;
    &:hover {
      color: rgb(191, 102, 102);
    }

    &-update {
      transition: all 0.4s ease-in;
      &:hover {
        color: lightgray;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .todo__form {
    width: 90%;
    margin: 10px auto;

    &-button {
      width: 122px;
    }

    &-input {
      width: 70%;
    }
  }

  .task__row {
    width: 80%;
  }

  .todo__formCustom {
    width: 90%;
  }
}
